<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Seleniumtest">
        <classes>
            <class name="TestNG.FirstTestNG"/>
            <class name = "TestNG.SEcondTestNG"/>
            <class name="TestNG.Disability"></class>





        </classes>


    </test>


</suite>